.about {
    font-family: "Roboto-bold", sans-serif;
}

.nama {
    color: #fff;
    font-family: 'Lemonada', cursive;
    position: relative;
    left: -10%;
    margin-top: 10%;
}

.jumbotron {
    min-height: 100vh;

}

.hov {
    /* position: fixed;
    z-index: 1000; */
    font-size: 24px;
}

.bg-p {
    background-color: #0400ff;
}

hr {
    width: 250px;
    border-top: 3px solid black;
}

.bg-gradien {
    background-image: linear-gradient(#0400ff 6%, rgb(95, 206, 250) 70%, #fff);
}


.lonjong {
    width: 360px;
    height: 360px;
    background-image: url(../img/formal.jpg);
    position: relative;
    top: 200px;
    right: 15%;
    border-radius: 62% 38% 37% 63% / 44% 41% 59% 56%;
    filter: drop-shadow(6px 6px 6px rgba(2, 2, 2, .7));
}
